body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #a01c1c;
    color: #fff;
    padding: 15px;
    text-align: center;
}
nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:space-evenly;
}
nav li{
    margin-right: 20px;
}
nav a {
    color: #fff;
    text-decoration: none;
}
main{
    background-color:  #ffffff;
    color: #242020;
    margin-left: 20px;
    margin-bottom: 35px;
}
main h2{
    margin-left: 210px;
    margin-top: 20px;
}
main img{
    height: 250px;
    width: 200px;
    margin: 20px;
    margin-right: 40px;
    float: left; 
}
main p {
    height: 30px;
    font-size: 18px;
    margin: 10px;
    margin-top: 20px;
    width: 70%;
  }
  
footer {
    background-color:  #a01c1c;
    color: #fff;
    padding: 20px;
    text-align: center;
    clear: both;
}
main img{
    width: 150px;
    height: 200px;
}